/metadata.csv
/tfidf_matrix.joblib
/vectorizer.joblib
/kmeans_model.joblib
/df_clean_with_ten_clusters.joblib
/tsne_df_10_clusters.joblib
/df_clean_lemmatized.joblib
/embeddings_sample.npy
/embeddings_full.npy
/umap_embeddings_10d.npy
/hdbscan_model_final.joblib
/df_final_hdbscan_clusters.joblib
/df_with_all_clusters.joblib
/kmeans_model_20c.joblib
/lda_model_20t.joblib
/dtm_matrix.joblib
/count_vectorizer_lda.joblib
/gmm_model_20c.joblib
/nmf_model_20t.joblib
/tfidf_matrix_nmf.joblib
/tfidf_vectorizer_nmf.joblib
/spectral_clustering_100k_sample_results.joblib
/affinity_propagation_50k_sample_results.joblib
/affinity_propagation_model_50k.joblib
/som_model_200k.joblib
/som_200k_indices.joblib
/som_model_full.joblib
/ctm_model_50k.joblib
/octis_dataset_50k.joblib
/df_sample_ctm_50k.joblib
/ctm_output_50k.joblib
mlruns/
/random_forest_best_model.joblib
/evaluator.joblib
/balanced_random_forest_best_model.joblib
/balanced_random_forest_best_model_v2.joblib
/balanced_bagging_classifier.joblib
/ada_boost_best_model.joblib
/ada_boost_best_model_ver2.joblib
/ada_boost_best_model_ver3.joblib
/xgboost_best_model.joblib
/xgboost_best_model_ver2.joblib
/xgboost_best_model_ver3.joblib
/xgboost_best_model_ver4.joblib
/lgb_gbdt_best_model.joblib
/lgb_gbdt_best_model_ver2.joblib
/lgb_gbdt_best_model_ver3.joblib
/lgb_gbdt_best_model_ver4.joblib
/lgb_dart_best_model.joblib
/lgb_dart_best_model_ver2.joblib
/lgb_dart_best_model_ver3.joblib
/lgb_dart_best_model_ver4.joblib
/covid19_analysis.db
/covid19_dashboard.pbix
chroma_db/
/embeddings_light.npy
/df_light.joblib
.env
*.env
.ipynb_checkpoints